In [1]:
# Let's import some utilities and configure our notebook
%matplotlib inline
from simone import staircases
import os.path as op
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from functools import partial
from itertools import product

In [2]:
# First thing first, let's just load the data
subjects_df, colors_df, trials_df, exps_df = staircases()

In [3]:
# What is in store?
subjects_df.head(5)

             omit           exp_start   age gender education vision
subject_id
0            True                 NaT   NaN   None      None   None
1            True 2016-07-08 17:00:00  25.0      F         L      C
2            True 2016-07-08 18:45:00  35.0      F         A      C
3           False 2016-07-09 10:00:00  33.0      F         A      C
4           False 2016-07-09 11:00:00  41.0      M         N      N

In [4]:
colors_df.head(5)

             omit           exp_start   age gender education vision
subject_id
0            True                 NaT   NaN   None      None   None
1            True 2016-07-08 17:00:00  25.0      F         L      C
2            True 2016-07-08 18:45:00  35.0      F         A      C
3           False 2016-07-09 10:00:00  33.0      F         A      C
4           False 2016-07-09 11:00:00  41.0      M         N      N

In [5]:
trials_df.head(5)

,participant,reversal_method,staircase,staircase_repetition,step_index,color1,color2,pair_count,chromatic_first,achromatic,chromatic,response,chromatic_brighter,reversal,measured_l_achromatic,measured_a_achromatic,measured_b_achromatic,measured_l_chromatic,measured_a_chromatic,measured_b_chromatic
0,0,double-reversals,C1-M,0,0,C1,M08,2,True,M08,C1,C1,True,False,54.489684,3.804252,1.501129,64.26545,-7.919738,-13.379962
1,0,double-reversals,C1-M,0,1,C1,M12,2,True,M12,C1,M12,False,True,57.687461,2.831082,2.438558,64.26545,-7.919738,-13.379962
2,0,double-reversals,C1-M,0,2,C1,M12,3,True,M12,C1,C1,True,True,57.687461,2.831082,2.438558,64.26545,-7.919738,-13.379962
3,0,double-reversals,C1-M,0,3,C1,M16,2,True,M16,C1,M16,False,True,61.678725,1.959511,2.607403,64.26545,-7.919738,-13.379962
4,0,double-reversals,C1-M,0,4,C1,M16,3,True,M16,C1,M16,False,False,61.678725,1.959511,2.607403,64.26545,-7.919738,-13.379962

In [6]:
exps_df.head(5)

,participant,staircase,staircase_repetition,reversal_method,omit,exp_start,age,gender,education,vision,chromatic,chromatic_first,series
0,0,C1-M,0,double-reversals,True,NaT,NaN,None,None,None,C1,True,step_index color1 color2 pair_count chrom...
1,0,C1-M,0,simple-reversals,True,NaT,NaN,None,None,None,C1,True,step_index color1 color2 pair_count chrom...
2,0,C1-M,1,double-reversals,True,NaT,NaN,None,None,None,C1,True,step_index color1 color2 pair_count chrom...
3,0,C1-M,1,simple-reversals,True,NaT,NaN,None,None,None,C1,True,step_index color1 color2 pair_count chrom...
4,0,C2-M,0,double-reversals,True,NaT,NaN,None,None,None,C2,True,step_index color1 color2 pair_count chrom...

In [ ]:
# Let's do a plot...